# NRW Groundwater Data - OpenHygrisC Data Engineering

Data from <br>
**[LANUV](https://www.lanuv.nrw.de/): Landesamt für Natur, Umwelt und Verbraucherschutz Nordrhein-Westfalen** <br>
(State Office for Nature, Environment and Consumer Protection NRW)

* LANUV groundwater web pages: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser

Groundwater data: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser/grundwasserstand/grundwasserdaten-online

ELWAS-WEB NRW - Infos zu den Grundwasserkörpern (YouTube): https://www.youtube.com/watch?v=4wFKIu622rk

In the database HygrisC the LANUV provides groundwater quality and quantity data for most groundwater wells in NRW. The groundwater wells are partly owned and operated by NRW, partly by other parties. 
The measurement intervals are usually annual. Some groundwater well are sampled more frequently. 

WRRL: EU Wasserrahmenrichtlinie, EU Water Framework Directive

The quality data is based on chemical analyses of groundwater samples. The quantity data is based on groundwater level measurement.


**OpenHygrisC data download directory:** 
<br>
https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/


**ATTENTION!The data format of the gw quality data has changed vastly! This large file does not exist anymore!**
<br>
https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV.zip


**Download the NRW groundwater well zip files.**
<br>
The groundwater station zip archive contains spatial info about the groundwater measurement wells and their locations. 
<br>
* [OpenHygrisC_gw-messstelle_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstelle_EPSG25832_CSV.zip)


**Download the NRW chemical groundwater measurement zip files.**
<br>
The chemical measurement zip archive contains gw station info, a catalog of possible physico-chemical analysis parameters, and the measured data. 
<br>
* [OpenHygrisC_gw-chemischer-messwert_2020-2029_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-chemischer-messwert_2020-2029_EPSG25832_CSV.zip)
<br>
* [OpenHygrisC_gw-chemischer-messwert_2010-2019_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-chemischer-messwert_2010-2019_EPSG25832_CSV.zip)
<br>
* [OpenHygrisC_gw-chemischer-messwert_2000-2009_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-chemischer-messwert_2000-2009_EPSG25832_CSV.zip)
<br>
* [OpenHygrisC_gw-chemischer-messwert_1990-1999_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-chemischer-messwert_1990-1999_EPSG25832_CSV.zip)
<br>
* [OpenHygrisC_gw-chemischer-messwert_1970-1989_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-chemischer-messwert_1970-1989_EPSG25832_CSV.zip)
<br>
* [OpenHygrisC_gw-chemischer-messwert_1922-1969_EPSG25832_CSV.zip](https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-chemischer-messwert_1922-1969_EPSG25832_CSV.zip)


## Coordinate Obfuscation 

Some coordinate data in the gw station info reveal difficulties. The coordinate reference system (CRS) used is the projected metric based 
EPSG:25832 ( ETRS89 / UTM zone 32N). 
The dataframe coordinate columns `e32` (easting) and `n32` (northing) are of data type object (not numeric). 

The resolution is 1m but many coordinates are obscurred because of privacy issues to a precision of 100m. A few coordinates are missing, i.e. either empty (nan) or filled with `xx`.


The coordinate columns e32 and n32 are of data type object/string. Four cases must be distinguished:

* Most strings are in a regular number format and can be converted to float right away (case (1) and (2) in the table)
* Other coordinate strings are obfuscated by replacing the two least significant decimal places with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. (case (3) in the table)
* In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx". (case (4) in the table)
* In a very few cases the coordinate columns are empty, i.e. NaN (Null). (case (5) in the table)

The following table shows representative cases.


| case |   messstelle_id | e32    | n32     | grundstueck   |
|-----:|----------------:|-------:|--------:|:--------------|
|  (1) |        10000094 | 292868 | 5632572 | oeffentlich   |
|  (2) |        10000045 | 299399 | 5650595 | privat        |
|  (3) |        10000033 | 3070xx | 56583xx | privat        |
|  (4) |        47247101 | xx     | xx      |               |
|  (5) |        79921802 | nan    | nan     |               |

Case (1) and (2) have coordinate strings which can be immediately converted to integer or float with 1m precision. Case (3) shows coordinate obfuscation to a precision to 100m. The digits representing tens and ones are anonymized. Case (4) and (5) show useless coordinate information.  

How to deal with non-anonymized data:

"299399" (string, prec. 1) => 299399.0 (float) 

How to deal with anonymization:

307000 <= 3070xx <= 307099

"3070xx" (string, prec. 100) => 307050 (float, +- 50m)

In [1]:
!conda env list

# conda environments:
#
base                 * C:\Users\1234d\anaconda3

## Correct wrong `PROJ_LIB` environment variable value 

This problem seems to occur on Windows when using the OSGeo4W installer. The environment variable must point to a user specific directory and according to the activated conda environment, e.g. `PROJ_LIB=C:\Users\<username>\Anaconda3\envs\geo\Library\share\proj`

In [3]:
# Correct wrong environment variable value occurring when using OSGeo4W installer

import os
#proj_lib = os.environ['proj_lib']
#print(proj_lib)

conda_prefix = os.environ['conda_prefix']
print(f"CONDA_PREFIX: {conda_prefix:s}")
os.environ['proj_lib'] = conda_prefix + r"\Library\share\proj"
proj_lib = os.environ['proj_lib']
print(f"New env var value: \nPROJ_LIB={proj_lib:s}")

CONDA_PREFIX: C:\Users\1234d\anaconda3
New env var value:
PROJ_LIB=C:\Users\1234d\anaconda3\Library\share\proj

## Imports

In [5]:
import pandas as pd
import geopandas as gpd

## Data Directories and Files

In [13]:
data_in_dir = r"C:\Users\1234d\Desktop\GeoData\OpenHyPE\data\OpenGeodata.NRW\OpenHygrisC"

gw_station_fname = "OpenHygrisC_gw-messstelle.csv"
gw_quality_fname = "OpenHygrisC_gw-chemischer-messwert_2010-2019.csv"

gw_station_pfname = os.path.join(data_in_dir, gw_station_fname)
gw_quality_pfname = os.path.join(data_in_dir, gw_quality_fname)
print(f"Stationsdaten:  {gw_station_pfname:s}")

Stationsdaten:  C:\Users\1234d\Desktop\GeoData\OpenHyPE\data\OpenGeodata.NRW\OpenHygrisC\OpenHygrisC_gw-messstelle.csv

In [15]:
for elt in os.listdir(data_in_dir): print(elt)

.gitkeep
Grundwassermessstellen NRW.url
OpenHygrisC_gw-chemischer-messwert_2010-2019.csv
OpenHygrisC_gw-chemischer-messwert_2010-2019_EPSG25832_CSV.zip
OpenHygrisC_gw-messstelle.csv
README.md

In [17]:
import os
os.getcwd()

'C:\\Users\\1234d\\Desktop\\GeoData\\OpenHyPE'

## GW Station Data

In [19]:
import pandas as pd
from charset_normalizer import from_path

# Detect encoding
detected_encoding = from_path(gw_station_pfname).best().encoding
print(f"Detected encoding: {detected_encoding}")

# Read headers
with open(gw_station_pfname, encoding=detected_encoding) as fh:
    headers = fh.readline().strip().split(";")  
print(f"Headers: {headers}")

# Load data into DataFrame
try:
    df = pd.read_csv(
        gw_station_pfname,
        encoding=detected_encoding,
        sep=";",  # Adjust delimiter if necessary
        skiprows=1,  # Skip the header row already read
        names=headers,
        index_col="messstelle_id",
        low_memory=False,
        on_bad_lines='skip'
    )
    print("Data loaded successfully.")
except Exception as e:
    print(f"Error loading data: {e}")

# Preview DataFrame
print(df.head())

Detected encoding: cp1250
Headers: ['sl_nr', 'messstelle_id', 'name', 'e32', 'n32', 'gw_stockwerk', 'grundstueck', 'gemeinde_id', 'gemeinde_name', 'gwhorizont_id', 'gwhorizont', 'gwleiter_id', 'gwleiter', 'einrichtungsgrund', 'gwk_lage_auf_id', 'gwk_lage_id', 'gwk_monitoring_auf_id', 'gwk_monitoring_id', 'messprogramm', 'turnus_wasserstand', 'freigabe_wstd', 'freigabe_chemie', 'freigabe_lage', 'wasserstandsmessstelle', 'guetemessstelle', 'im_wrrl_messnetz_chemie', 'im_wrrl_messnetz_wasserstand', 'messstellenart', 'wasserart', 'labor', 'beobachtung_wasserstand', 'eigentuemer', 'betreiber', 'filterlaenge_cm', 'sumpfrohrlaenge_cm', 'ausbaudurchmesser_mm', 'historischer_ruhe_wsp', 'einbaulaenge_cm', 'oberkante_filter_cm', 'unterkante_filter_cm']
Data loaded successfully.
               sl_nr                         name     e32      n32  \
messstelle_id
278419136      40952          Mödrath              3395XX  56402XX
26001780       55446  9    Mohn    Mdk - Br 9 alt  4594XX  57507XX
73560510       37083          Godorf 99 A          3574XX  56354XX
219602918      35794          Isenbruch            281764  5660088
59130465       12723               DO-Eving RWI 5  393528  5713037

               gw_stockwerk  grundstueck gemeinde_id gemeinde_name  \
messstelle_id
278419136               NaN       privat    05362032        Kerpen
26001780                NaN       privat    05754008     Gütersloh
73560510                1.0  oeffentlich    05315000          Köln
219602918               1.0  oeffentlich    05370024      Selfkant
59130465                1.0  oeffentlich    05913000      Dortmund

              gwhorizont_id                                 gwhorizont  ...  \
messstelle_id                                                           ...
278419136                9B                            Sande und Kiese  ...
26001780                NaN                                        NaN  ...
73560510                 19         Niederterrassen mit Lößauflagerung  ...
219602918                16  Jüngere Hauptterrassen mit Lößauflagerung  ...
59130465                NaN                                        NaN  ...

              beobachtung_wasserstand  \
messstelle_id
278419136                           -
26001780                            -
73560510                            -
219602918                           -
59130465                  durch LANUV

                                                     eigentuemer  \
messstelle_id
278419136      RWE Power AG                                  ...
26001780       MOHN media Mohndruck GmbH                     ...
73560510       RheinEnergie AG                               ...
219602918      Erftverband                                   ...
59130465       Land NRW                                      ...

                                                       betreiber  \
messstelle_id
278419136      RWE Power AG                                  ...
26001780       MOHN media Mohndruck GmbH                     ...
73560510       RheinEnergie AG                               ...
219602918      Erftverband                                   ...
59130465       Land NRW                                      ...

              filterlaenge_cm sumpfrohrlaenge_cm ausbaudurchmesser_mm  \
messstelle_id
278419136              1020.0              600.0                 50.0
26001780                  NaN                NaN                  NaN
73560510                700.0              100.0                125.0
219602918               200.0               70.0                125.0
59130465                110.0                0.0                 75.0

              historischer_ruhe_wsp einbaulaenge_cm oberkante_filter_cm  \
messstelle_id
278419136                       NaN         14851.0             -5693.0
26001780                        NaN             NaN                 NaN
73560510                        NaN          2630.0              3538.0
219602918                      1,20           574.0              2937.0
59130465                       8,70          1326.0              8256.0

              unterkante_filter_cm
messstelle_id
278419136                  -6713.0
26001780                       NaN
73560510                    2838.0
219602918                   2737.0
59130465                    8146.0

[5 rows x 39 columns]

In [21]:
df.sort_index(ascending=True, inplace=True)

In [23]:
num_total = df.shape[0]
df.shape

(73459, 39)

In [25]:
df.head(5)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gemeinde_name,gwhorizont_id,gwhorizont,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
10000008,70796,P3-BSR/Mariaschacht P 5 neu,306827,5625490,1.0,oeffentlich,05334032,Stolberg (Rhld.),NaN,NaN,...,-,Enwor GmbH ...,Enwor GmbH ...,700.0,0.0,80.0,"7,50",1650.0,20973.0,20273.0
10000010,1,SCHERPENSEEL NR 1,2935XX,56452XX,1.0,privat,05370028,Übach-Palenberg,6D,Neurather Sand,...,-,Land NRW ...,keine Angabe ...,400.0,NaN,100.0,NaN,4936.0,7731.0,7331.0
10000021,2,Bellinghoven Nr. 2,3127XX,56604XX,1.0,privat,05370004,Erkelenz,14,Ältere Hauptterrassen,...,-,keine Angabe ...,keine Angabe ...,NaN,NaN,1000.0,NaN,1411.0,7885.0,7885.0
10000033,3,Doveren Nr. 3,3070XX,56583XX,1.0,privat,05370020,Hückelhoven,16,Jüngere Hauptterrassen mit Lößauflagerung,...,-,Privatperson ...,keine Angabe ...,NaN,NaN,1000.0,NaN,755.0,4847.0,4847.0
10000045,4,Geilenkirchen Nr. 5,2993XX,56505XX,1.0,privat,05370012,Geilenkirchen,10,Sande und Kiese,...,-,Privatperson ...,keine Angabe ...,200.0,NaN,1000.0,NaN,1079.0,6140.0,5940.0

In [27]:
df[df["grundstueck"]=="oeffentlich"]

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gemeinde_name,gwhorizont_id,gwhorizont,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
10000008,70796,P3-BSR/Mariaschacht P 5 neu,306827,5625490,1.0,oeffentlich,05334032,Stolberg (Rhld.),NaN,NaN,...,-,Enwor GmbH ...,Enwor GmbH ...,700.0,0.0,80.0,"7,50",1650.0,20973.0,20273.0
10000094,9,Richterich Nr. 11,2928XX,56325XX,1.0,oeffentlich,05334002,Aachen,NaN,NaN,...,-,Bahnbrunnen ...,keine Angabe ...,NaN,NaN,3000.0,NaN,954.0,17351.0,17351.0
10000173,19,WALLENTHAL NR 20,3283XX,56043XX,1.0,oeffentlich,05366024,Kall,SM,Mittlerer Buntsandstein,...,durch LANUV,keine Angabe ...,keine Angabe ...,NaN,NaN,1000.0,NaN,400.0,37030.0,37030.0
10099761,73970,LGD Münstereifel 01,343253,5599868,NaN,oeffentlich,05366004,Bad Münstereifel,NaN,NaN,...,NaN,Land NRW ...,Land NRW ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10099839,73160,LGD Nettersheim 01,330892,5595776,1.0,oeffentlich,05366032,Nettersheim,NaN,NaN,...,durch LANUV,Land NRW ...,Land NRW ...,500.0,0.0,100.0,"34,90",4144.0,47588.0,47088.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289197338,66542,Gohr 2,341499,5664187,1.0,oeffentlich,05162004,Dormagen,19,Niederterrassen mit Lößauflagerung,...,-,Erftverband ...,Erftverband ...,200.0,100.0,65.0,NaN,2000.0,2489.0,2289.0
289197417,66543,Gohr 3,341641,5664298,1.0,oeffentlich,05162004,Dormagen,19,Niederterrassen mit Lößauflagerung,...,-,Erftverband ...,Erftverband ...,200.0,100.0,65.0,NaN,1000.0,3573.0,3373.0
289197429,66544,Gohr 3,341641,5664298,1.0,oeffentlich,05162004,Dormagen,19,Niederterrassen mit Lößauflagerung,...,-,Erftverband ...,Erftverband ...,200.0,100.0,65.0,NaN,1500.0,3064.0,2864.0
289197430,66545,Gohr 3,341641,5664298,1.0,oeffentlich,05162004,Dormagen,19,Niederterrassen mit Lößauflagerung,...,-,Erftverband ...,Erftverband ...,200.0,100.0,65.0,NaN,2000.0,2557.0,2357.0
289197910,66922,Noithausen,331445,5664033,1.0,oeffentlich,05162008,Grevenbroich,18,Untere- und mittlere Mittelterrassen mit Lößau...,...,-,Erftverband ...,Erftverband ...,200.0,100.0,65.0,NaN,1708.0,3482.0,3282.0

## Challange: Coordinates obfuscation

The coordinate columns e32 and n32 are of data type string. Four cases must be distinguished:

(1) Most strings are in a regular number format and can be converted to float right away.

(2) Other coordinate strings are obfuscated by replacing the two least significant digits with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. 

(3) In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx".

(4) In a very few cases the coordinate columns are empty, i.e. NaN (Null).

In [29]:
# These four groundwater wells summarize the coordinate problems.
df_coord_problem=df.loc[[10000094, 10000045, 10000033, 47247101, 79921802],["e32","n32", "grundstueck"]]
df_coord_problem

                  e32      n32  grundstueck
messstelle_id
10000094       2928XX  56325XX  oeffentlich
10000045       2993XX  56505XX       privat
10000033       3070XX  56583XX       privat
47247101           XX       XX
79921802       3644XX  56253XX       privat

**Boolean indexes are used to filter the data according to the cases (1) to (4).**

In [31]:
# Add column for precision
df["genau"] = 0

# (1) If the coord data is numeric then the precision is 1m
idx_coords_1m_prec = (df["e32"].str.isnumeric() == True) 

# (3,4) Some stations don't have coordinates
# e32 and n32 strings are either NaN (Null) or "xx"
idx_coords_missing = (df["e32"].str.len() < 6) | (df["e32"].isnull() == True)

# (2) If coord data is avaliable but not numeric, then the numbers have been obscured with "XX" for the two least significant decimals.
idx_coords_100m_prec = ~idx_coords_missing &  ~(df["e32"].str.isnumeric() == True)

In [33]:
df.index[idx_coords_missing]

Index([ 36446518,  36487600,  47199003,  47200005,  47202002,  47247101,
        47299009,  59621035,  68011003,  68012007,  68013103,  68013206,
        68013309,  68013401,  68013504,  68013607, 118010001, 129700800],
      dtype='int64', name='messstelle_id')

**Convert the strings to floats where possible. No data values are represented as negative numbers.**

In [35]:
df.loc[idx_coords_1m_prec,"e32num"] = df.loc[idx_coords_1m_prec,"e32"].astype(float)
df.loc[idx_coords_1m_prec,"n32num"] = df.loc[idx_coords_1m_prec,"n32"].astype(float)
df.loc[idx_coords_1m_prec, "genau"] = 1

In [37]:
df.loc[idx_coords_100m_prec,"e32num"] = (df.loc[idx_coords_100m_prec,"e32"].str[:-2]+"50").astype(float)
df.loc[idx_coords_100m_prec,"n32num"] = (df.loc[idx_coords_100m_prec,"n32"].str[:-2]+"50").astype(float)
df.loc[idx_coords_100m_prec, "genau"] = 100

In [39]:
df.loc[idx_coords_missing,"e32num"] = -999.9
df.loc[idx_coords_missing,"n32num"] = -999.9
df.loc[idx_coords_missing, "genau"] = -999

In [41]:
# check if all records have been matched
num_of_1m_prec = df[df["genau"] == 1].shape[0]
num_of_100m_prec = df[df["genau"] == 100].shape[0]
num_of_no_prec = df[df["genau"] == -999].shape[0]

num_check = num_of_1m_prec + num_of_100m_prec + num_of_no_prec

print(f"total num of recs:                        {num_total:6d}")
print(f"number of recs with 1m coord precision:   {num_of_1m_prec:6d}")
print(f"number of recs with 100m coord precision: {num_of_100m_prec:6d}")
print(f"number of recs with no coords:            {num_of_no_prec:6d}")
print(f"check sum:                                {num_check:6d}")

assert num_check == num_total, "ERROR. Mismatch in numbers of stations"

total num of recs:                         73459
number of recs with 1m coord precision:     6875
number of recs with 100m coord precision:  66566
number of recs with no coords:                18
check sum:                                 73459

**Save the original string as well as the derived numeric columns to a CSV file for checking externally.**

In [43]:
df[["e32","e32num","n32","n32num","genau"]].to_csv("check.csv")
df[["e32","e32num","n32","n32num","genau"]]

                  e32    e32num      n32     n32num  genau
messstelle_id
10000008       306827  306827.0  5625490  5625490.0      1
10000010       2935XX  293550.0  56452XX  5645250.0    100
10000021       3127XX  312750.0  56604XX  5660450.0    100
10000033       3070XX  307050.0  56583XX  5658350.0    100
10000045       2993XX  299350.0  56505XX  5650550.0    100
...               ...       ...      ...        ...    ...
289382518      3456XX  345650.0  56599XX  5659950.0    100
289382520      3456XX  345650.0  56599XX  5659950.0    100
289382610      3453XX  345350.0  56602XX  5660250.0    100
289382622      3453XX  345350.0  56602XX  5660250.0    100
289382713      3441XX  344150.0  56601XX  5660150.0    100

[73459 rows x 5 columns]

## Geopandas

In [45]:
import geopandas as gpd
from shapely.geometry import Point

In [47]:
# remove records without coords
df2 = df[df["genau"] > 0]

In [49]:
df2.shape

(73441, 42)

In [51]:
%%time
gdf = gpd.GeoDataFrame(df2, geometry=gpd.points_from_xy(df2.e32num, df2.n32num), crs="EPSG:25832")

Wall time: 83.7 ms

In [53]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 73441 entries, 10000008 to 289382713
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   sl_nr                         73441 non-null  int64
 1   name                          73441 non-null  object
 2   e32                           73441 non-null  object
 3   n32                           73441 non-null  object
 4   gw_stockwerk                  55564 non-null  float64
 5   grundstueck                   73441 non-null  object
 6   gemeinde_id                   73441 non-null  object
 7   gemeinde_name                 73441 non-null  object
 8   gwhorizont_id                 28716 non-null  object
 9   gwhorizont                    28716 non-null  object
 10  gwleiter_id                   2371 non-null   object
 11  gwleiter                      2371 non-null   object
 12  einrichtungsgrund             73441 non-null  object
 13  gwk_lage_auf_id               72992 non-null  object
 14  gwk_lage_id                   72992 non-null  object
 15  gwk_monitoring_auf_id         73123 non-null  object
 16  gwk_monitoring_id             73123 non-null  object
 17  messprogramm                  18465 non-null  object
 18  turnus_wasserstand            69902 non-null  object
 19  freigabe_wstd                 73441 non-null  object
 20  freigabe_chemie               73441 non-null  object
 21  freigabe_lage                 73441 non-null  object
 22  wasserstandsmessstelle        73441 non-null  object
 23  guetemessstelle               73441 non-null  object
 24  im_wrrl_messnetz_chemie       73441 non-null  object
 25  im_wrrl_messnetz_wasserstand  73441 non-null  object
 26  messstellenart                73441 non-null  object
 27  wasserart                     18465 non-null  object
 28  labor                         18465 non-null  object
 29  beobachtung_wasserstand       70379 non-null  object
 30  eigentuemer                   54935 non-null  object
 31  betreiber                     55180 non-null  object
 32  filterlaenge_cm               39821 non-null  float64
 33  sumpfrohrlaenge_cm            33556 non-null  float64
 34  ausbaudurchmesser_mm          44856 non-null  float64
 35  historischer_ruhe_wsp         1173 non-null   object
 36  einbaulaenge_cm               61319 non-null  float64
 37  oberkante_filter_cm           61319 non-null  float64
 38  unterkante_filter_cm          61319 non-null  float64
 39  genau                         73441 non-null  int64
 40  e32num                        73441 non-null  float64
 41  n32num                        73441 non-null  float64
 42  geometry                      73441 non-null  geometry
dtypes: float64(9), geometry(1), int64(2), object(31)
memory usage: 24.7+ MB

In [55]:
gdf.head(3)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gemeinde_name,gwhorizont_id,gwhorizont,...,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm,genau,e32num,n32num,geometry
messstelle_id,,,,,,,,,,,,,,,,,,,,,
10000008,70796,P3-BSR/Mariaschacht P 5 neu,306827,5625490,1.0,oeffentlich,05334032,Stolberg (Rhld.),NaN,NaN,...,0.0,80.0,"7,50",1650.0,20973.0,20273.0,1,306827.0,5625490.0,POINT (306827 5625490)
10000010,1,SCHERPENSEEL NR 1,2935XX,56452XX,1.0,privat,05370028,Übach-Palenberg,6D,Neurather Sand,...,NaN,100.0,NaN,4936.0,7731.0,7331.0,100,293550.0,5645250.0,POINT (293550 5645250)
10000021,2,Bellinghoven Nr. 2,3127XX,56604XX,1.0,privat,05370004,Erkelenz,14,Ältere Hauptterrassen,...,NaN,1000.0,NaN,1411.0,7885.0,7885.0,100,312750.0,5660450.0,POINT (312750 5660450)

In [57]:
%%time

# This takes 90 secs on my computer!

gdf.to_file("GW_Stations.gpkg", layer='GW Stations', driver="GPKG")

Wall time: 2.17 s

## PostGIS, Inline SQL: `create schema gw`

To store the data in PostGIS/PostgreSQL it is recommended to create a dedicated database "schema" (a kind of name space) to separate relations (tables, views), stored procedures, etc. from the rest of the database. Schemata help to organize the tables and access privileges clearly.

In [59]:
#!conda install -c conda-forge ipython-sql

In [65]:
%load_ext sql

In [67]:
print("Connect")
%sql postgresql://env_master:M123xyz@localhost:5432/env_db

Connect
__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [69]:
%%sql
SELECT * FROM information_schema.schemata

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [71]:
%%sql
CREATE SCHEMA IF NOT EXISTS gw AUTHORIZATION env_master

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [73]:
%%sql
SELECT * FROM information_schema.schemata;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## PostGIS: Upload GeoDataFrame with `gdf.to_postgis()`

Dependencies:
* psycopg2
* geoalchemy2

In [75]:
import sqlalchemy
engine = sqlalchemy.create_engine("postgresql://env_master:M123xyz@localhost:5432/env_db")
# fast_executemany=True
# use_batch_mode=True

In [77]:
%%time
gdf.to_postgis(con=engine, name="gw_stations", schema="gw", index=True, chunksize=100, if_exists="replace")

Wall time: 2.84 s

# Groundwater "Quality Data": Chemistry!

## Imports

In [187]:
import pandas as pd

## Data Directories and Files

In [259]:
data_in_dir = r"C:\Users\1234d\Desktop\GeoData\OpenHyPE\data\OpenGeodata.NRW\OpenHygrisC"

gw_station_fname = "OpenHygrisC_gw-messstelle.csv"
gw_quality_fname = "OpenHygrisC_gw-chemischer-messwert_2010-2019.csv"

gw_station_pfname = os.path.join(data_in_dir, gw_station_fname)
gw_quality_pfname = os.path.join(data_in_dir, gw_quality_fname)
print(f"Stationsdaten:  {gw_station_pfname:s}")

Stationsdaten:  C:\Users\1234d\Desktop\GeoData\OpenHyPE\data\OpenGeodata.NRW\OpenHygrisC\OpenHygrisC_gw-messstelle.csv

In [261]:
print(gw_quality_pfname)

C:\Users\1234d\Desktop\GeoData\OpenHyPE\data\OpenGeodata.NRW\OpenHygrisC\OpenHygrisC_gw-chemischer-messwert_2010-2019.csv

In [263]:
fh = open(gw_quality_pfname,"r", encoding = detected_encoding, newline = '')
s = fh.readline()
s = s.replace('"', '').strip()
header_de = s[1:].split(';')
header_de

['l_nr',
 'messstelle_id',
 'messstelle_sl_nr',
 'datum_pn',
 'stoff_nr',
 'probengut',
 'messergebnis_c',
 'messergebnis_hinweis',
 'bestimmungsgrenze',
 'masseinheit',
 'trennverfahren',
 'verfahren',
 'vor_ort']

In [265]:
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, nrows = 5, encoding=detected_encoding)

Wall time: 47.9 ms

In [197]:
df_qual.head(3)

,sl_nr,messstelle_id,messstelle_sl_nr,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort
0,3443881,219086114,35465,2010-07-19,1151,Grundwasser,"<5,00000",Konzentration zu gering zur Bestimmung ...,NaN,µg/l,Membranfilter,NaN,
1,442337,219078117,35447,2014-04-08,2238,Grundwasser,"<0,05000",Konzentration zu gering zur Bestimmung ...,NaN,µg/l,Nach Laborjournal,...,
2,442400,219078117,35447,2014-04-08,1247,Grundwasser,"<0,03048",Konzentration zu gering zur Bestimmung ...,NaN,mg/l,Nach Laborjournal,...,

In [267]:
df_qual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sl_nr                 5 non-null      int64
 1   messstelle_id         5 non-null      int64
 2   messstelle_sl_nr      5 non-null      int64
 3   datum_pn              5 non-null      object
 4   stoff_nr              5 non-null      int64
 5   probengut             5 non-null      object
 6   messergebnis_c        5 non-null      object
 7   messergebnis_hinweis  5 non-null      object
 8   bestimmungsgrenze     0 non-null      float64
 9   masseinheit           5 non-null      object
 10  trennverfahren        5 non-null      object
 11  verfahren             4 non-null      object
 12  vor_ort               5 non-null      object
dtypes: float64(1), int64(4), object(8)
memory usage: 648.0+ bytes

The full CSV file with the chemical lab measurements comprises more than 3.6 Mio measurments!

In [275]:
# Wall time: 13 s
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", index_col=["sl_nr"], \
                            dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, \
                            parse_dates = ["datum_pn"], encoding=detected_encoding)

Wall time: 5.86 s

In [277]:
df_qual.shape

(1720845, 12)

In [279]:
df_qual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1720845 entries, 3443881 to 13067360
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   messstelle_id         int64
 1   messstelle_sl_nr      int64
 2   datum_pn              datetime64[ns]
 3   stoff_nr              int64
 4   probengut             object
 5   messergebnis_c        object
 6   messergebnis_hinweis  object
 7   bestimmungsgrenze     object
 8   masseinheit           object
 9   trennverfahren        object
 10  verfahren             object
 11  vor_ort               object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 170.7+ MB

In [281]:
df_qual.head(3)

,messstelle_id,messstelle_sl_nr,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort
sl_nr,,,,,,,,,,,,
3443881,219086114,35465,2010-07-19,1151,Grundwasser,"<5,00000",Konzentration zu gering zur Bestimmung ...,NaN,µg/l,Membranfilter,NaN,
442337,219078117,35447,2014-04-08,2238,Grundwasser,"<0,05000",Konzentration zu gering zur Bestimmung ...,NaN,µg/l,Nach Laborjournal,...,
442400,219078117,35447,2014-04-08,1247,Grundwasser,"<0,03048",Konzentration zu gering zur Bestimmung ...,NaN,mg/l,Nach Laborjournal,...,

In [283]:
# duplicate sl_nr values? Can it be a unique index?
# Result should be empty
print(df_qual[df_qual.index.duplicated()])

Empty DataFrame
Columns: [messstelle_id, messstelle_sl_nr, datum_pn, stoff_nr, probengut, messergebnis_c, messergebnis_hinweis, bestimmungsgrenze, masseinheit, trennverfahren, verfahren, vor_ort]
Index: []

## Time Series Example

In [285]:
# time series example
# stoff_nr=1244 ->"Nitrat"
idx = (df_qual["messstelle_id"] == 20002129) & (df_qual["stoff_nr"] == 1244)
df_qual.loc[idx,["datum_pn", "messergebnis_c"]].sort_values("datum_pn")

           datum_pn messergebnis_c
sl_nr
12365025 2010-04-14      106,24800
12373604 2011-06-15       92,96700
12384379 2012-11-29       79,68600
12404546 2015-07-22       60,16000
12410216 2016-05-18       61,98000
12423378 2017-09-13      101,82000
16131017 2019-08-01      101,82000

### Tests for different measurement value string cases

```
(1)   "1.00" (is_float)
(2)  "<1.00" (is_less)
(3)  ">1.00" (is_greater)
```

In [287]:
# check if string can be converted to float
def is_float(element: str) -> bool:
    try:
        float(element)
        return True
    except ValueError:
        return False

In [289]:
df_qual["messergebnis_c"] = df_qual["messergebnis_c"].str.replace(".", "")
df_qual["messergebnis_c"] = df_qual["messergebnis_c"].str.replace(",", ".")

In [291]:
# check if string starts with '<'
def is_less(element: str) -> bool:
    return element[0] == "<"

In [293]:
# check if string starts with '>'
def is_greater(element: str) -> bool:
    return element[0] == ">"

In [295]:
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("-1.234"))

is_float()
False
False
True

In [297]:
# Some test applications
print("is_less()")
print(is_less("<1.234"))
print(is_less(">1.234"))
print(is_less("1.234"))
print("is_greater()")
print(is_greater("<1.234"))
print(is_greater(">1.234"))
print(is_greater("1.234"))
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("1.234"))

is_less()
True
False
False
is_greater()
False
True
False
is_float()
False
False
True

In [299]:
# Apply the tests and create Boolean indexes
%time idx_mess_is_float   = df_qual["messergebnis_c"].apply(is_float)
%time idx_mess_is_less    = df_qual["messergebnis_c"].apply(is_less)
%time idx_mess_is_greater = df_qual["messergebnis_c"].apply(is_greater)

Wall time: 811 ms
Wall time: 215 ms
Wall time: 198 ms

In [301]:
# Print records which are neither less nor greater nor float -> should be empty data frame
assert df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float].shape[0] == 0

# Dataframe should be empty
print(df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float])

Empty DataFrame
Columns: [messstelle_id, messstelle_sl_nr, datum_pn, stoff_nr, probengut, messergebnis_c, messergebnis_hinweis, bestimmungsgrenze, masseinheit, trennverfahren, verfahren, vor_ort]
Index: []

In [303]:
# res = (~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float).value_counts()
res = (idx_mess_is_less | idx_mess_is_greater | idx_mess_is_float).value_counts()
res

messergebnis_c
True    1720845
Name: count, dtype: int64

## Convert measurement results to float. Fill the limit column.

In [317]:
%time df_qual.loc[idx_mess_is_less,"messergebnis_num"] = df_qual.loc[idx_mess_is_less,"messergebnis_c"].str[1:].astype(float)
%time df_qual.loc[idx_mess_is_less,"limit"] = "<"

%time df_qual.loc[idx_mess_is_greater,"messergebnis_num"] = df_qual.loc[idx_mess_is_greater,"messergebnis_c"].str[1:].astype(float)
%time df_qual.loc[idx_mess_is_greater,"limit"] = ">"

%time df_qual.loc[idx_mess_is_float,"messergebnis_num"] = df_qual.loc[idx_mess_is_float,"messergebnis_c"].astype(float)
%time df_qual.loc[idx_mess_is_float,"limit"] = "="

Wall time: 344 ms
Wall time: 12 ms
Wall time: 3 ms
Wall time: 2 ms
Wall time: 119 ms
Wall time: 9 ms

In [319]:
print("Different values for column 'limit'")
print(df_qual["limit"].value_counts())

Different values for column 'limit'
limit
<    1072966
=     647876
>          3
Name: count, dtype: int64

In [321]:
df_qual[idx_mess_is_greater][["messergebnis_c", "messergebnis_num", "limit"]].head()

        messergebnis_c messergebnis_num limit
sl_nr
9821421     >201.00000            201.0     >
4434236       >0.00000              0.0     >
4438853       >0.00000              0.0     >

In [323]:
df_qual[idx_mess_is_less][["messergebnis_c", "messergebnis_num", "limit"]].head()

        messergebnis_c messergebnis_num limit
sl_nr
3443881       <5.00000              5.0     <
442337        <0.05000             0.05     <
442400        <0.03048          0.03048     <
442342        <0.01000             0.01     <
442359        <0.05000             0.05     <

In [325]:
df_qual[idx_mess_is_float][["messergebnis_c", "messergebnis_num", "limit"]].head()

       messergebnis_c messergebnis_num limit
sl_nr
442321       24.60000             24.6     =
442339        0.20000              0.2     =
442343      674.00000            674.0     =
442346       14.60000             14.6     =
442351      340.00000            340.0     =

In [ ]:
# Reason for not being float? XOR: A ^ B
#idx = (~idx_mess_is_float ^ idx_mess_is_less) # These are non-floats which are be less at the same time => greater
#df_qual[idx]

In [ ]:
# Reason for not being float? XOR
#idx = (~idx_mess_is_float ^ idx_mess_is_greater)
#df_qual[idx]

In [327]:
df_qual[df_qual["messergebnis_num"]<0]

,messstelle_id,messstelle_sl_nr,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,messergebnis_num,limit
sl_nr,,,,,,,,,,,,,,
419160,289085123,45655,2014-02-14,1072,Grundwasser,-141.00000,...,NaN,mV,Gesamtgehalt,...,,-141.0,=
10695960,289072610,45484,2017-04-11,1072,Grundwasser,-49.00000,...,NaN,mV,Gesamtgehalt,NaN,,-49.0,=
9840940,289085123,45655,2016-03-08,1072,Grundwasser,-41.00000,...,NaN,mV,Gesamtgehalt,NaN,,-41.0,=
16311236,94160090,24635,2019-07-11,1477,Grundwasser,-0.07000,...,NaN,mmol/l,Gesamtgehalt,Keine Angabe,,-0.07,=
16311242,94160090,24635,2019-07-11,3002,Grundwasser,-3.00000,...,NaN,mg/l,Gesamtgehalt,Keine Angabe,,-3.0,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7937021,60240416,55650,2011-05-30,1072,Grundwasser,-29.00000,...,"-99.999,00000",mV,Gesamtgehalt,DIN 38404-C6,,-29.0,=
7939125,64080109,14518,2011-06-21,1072,Grundwasser,-41.00000,...,"-99.999,00000",mV,Gesamtgehalt,DIN 38404-C6,,-41.0,=
7989995,110151057,56126,2011-11-17,1015,Grundwasser,-3.00000,...,"-25,00000",°C,Gesamtgehalt,DIN 38404-C4-1,,-3.0,=
7990460,110200329,44296,2011-11-14,1015,Grundwasser,-1.00000,...,"-25,00000",°C,Gesamtgehalt,DIN 38404-C4-1,,-1.0,=
19639227,70304257,44521,2019-01-19,1015,Grundwasser,-6.50000,...,NaN,°C,Nach Laborjournal,nach Laborjournal,,-6.5,=

## SQLAlchemy performance tests

`df.to_sql()` uses the `SQLalchemy library`. This library provides a SQL database API for a lot of different database management systems (DBMS), e.g. PostgreSQL, Microsoft SQL Server, etc. SQLAlchemy uses DBMS specific low level drivers such as `psycopg2` for PostgreSQL to connect to the different database systems. The following connection strings are used to connect to PostgreSQL (PG) using the psycopg22 driver (the default PG driver):

`engine = sqlalchemy.create_engine("postgresql://env_master:xxxxxx@localhost/env_db")`

`engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")`

In [171]:
import sqlalchemy

### The following performance tests to not differ significantly.

In [329]:
# the default to_sql() / sqlalchemy method using psycopg2 (default PG driver) ...
# on my laptop:
# Approx. Wall time: 5min 35s 

engine = sqlalchemy.create_engine("postgresql://env_master:M123xyz@localhost/env_db")

%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

Wall time: 1min 26s

845

In [331]:
# other attempts to speed up ...
# on my laptop:
# Approx. Wall time: 5min 35s
# => no improvement
engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:M123xyz@localhost/env_db")

# %time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", method="multi")
%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

Wall time: 1min 25s

845

In [ ]:
### The following attempt using `method="multi"` fails with `psycopg2`! 

The parameter `method="multi"` seems to be effective with the `msodbc` driver for MS SQL Server. In `psycopg2` it causes problems.